{% extends 'layout.html' %}

{% load static %}

{% block title %} Leave Team {% endblock %}

{% block active %}
  <li><a href="{% url 'home' %}">HOME</a></li>
  <li><a href="{% url 'organisations:org_tree' %}">EXISTING TEAMS</a></li>  
  <li class="active"><a href="{% url 'organisations:new_org' %}">CREATE TEAM</a></li>
  {% comment %} <li><a href="#">TEAM REQUESTS</a></li> {% endcomment %}
  <li><a href="{% url 'organisations:events:view_calendar' %}">CALENDAR</a></li>
{% endblock %}

{% block body %}
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <h1> {{name}} </h1><br>
      {% if warning %} {{ warning }} {% endif %}
      <br>
    </div>
  </div>
{% endblock %}
