{% extends 'layout.html' %}

{% block title %}
    Organisations
{% endblock %}


{% block body %}
    {% load my_filter %}
    <section class="existing-teams" id="page4">
        <div class="main-board">
            <h1>EXISTING TEAMS</h1>
            <div class="org-lists">
                <ul class="context">
                    {% for org in listo %} 
                        {{ ""|indent_it:org.1 }}
                        <a href="{% url 'organisations:org_detail' org.2 %}">{{org.0}}</a>
                        <br>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}